/* header */

.header {
	border-bottom: 1px solid #ECECEC;
}

.header__box {
	display: flex;
	align-items: baseline;
}

.navbar__list {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	display: flex;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar__item + .navbar__item {
	margin-left: 50px;
}

.navbar__item {
	display: block;
}

.navbar__link {
	color: var(--color-c);
}

.navbar__link {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__link:hover,
.navbar__link:focus 
.navbar__link:active
.navbar__link:visited {
	color: var(--color-a);
}

.navbar__link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
}

.navbar__link {
	color: var(--color-c);
}

.navbar__link :active {
	color: var(--color-a);
}

.navbar__link {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__link:hover,
.navbar__link:focus 
.navbar__link:active
.navbar__link:visited {
	color: var(--color-a);
}

.navbar__link {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__link:hover,
.navbar__link:focus 
.navbar__link:active
.navbar__link:visited {
	color: var(--color-a);
}

.navbar__link {
	color: var(--color-c);
}

.pochta3 + .nomer4 {
	margin-left: 50px;
}

.header-list__link {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover {
	color: var(--color-a);
}

.header-list__link, .header-list__link {
	font-size: 14px;
}

.header-list__icon {
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover .header-list__icon , .header-list__link:focus .header-list__icon {
	fill: var(--color-a);
}

.header-list__link {
	display: flex;
	align-items: center;
}

.header-list__link , .header-list__link {
	color: var(--color-b);
}

.header-list__icon {
	margin-right: 10px;
	fill: #757575;
}

.header-list__link {
	display: flex;
	align-items: center;
}

.header-list__link {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover {
	color: var(--color-a);
}

.header-list__link:hover .header-list__icon {
	fill: var(--color-a);
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__icon {
	fill: #757575;
	margin-right: 10px;
}

.navbar {
	margin-left: 93px;
}

.navbar__link--active {
	color: var(--color-a);
	position: relative;
}

.navbar__link--active::after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background: #2196F3;
	border-radius: 2px;
	bottom: 0;
	right: 0;
}

.header__logo--color {
	color: var(--color-c);
}

.header__logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	color: var(--color-a);
}

.header-list {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	display: flex;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	margin-left: auto;
}

.header-list__item + .header-list__item {
	margin-left: 30px;
}