

a {
	text-decoration: none;
}

:root {
	--color-a: #2196F3;
	--color-b: #757575;
	--color-c: #2F303A;
	--color-d: #FFFFFF;
	--colo-ir: #2dce50;
	--color-f: #8178b9;
	--color-g: #E5E5E5;
	--color-k: #F5F4FA;
	--color-l: rgba(255, 255, 255, 0.6);
	--color-m: #188CE8;
}

h1,h2,h3,h4,h5,h6,ul,a,p,li {
	margin: 0px;
	padding: 0px;
}

img {
	width: 100%;
	display: block;
}

p {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

h3 {
	font-size: 16px;
	line-height: 1.18;
	font-weight: 500;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	margin-top: 94px;
	margin-bottom: 94px;
}

.section {
	margin: 0px;
}

h2 {
	font-size: 36px;
	line-height: 1.16;
	font-weight: bold;
}

.list {
	list-style: none;
}
